<br />
<mat-card>
  <mat-card-title> <span style="color:blue;">Education </span></mat-card-title
  ><br />

  <mat-card-content>
    <mat-card-title>
      <span>
        October 2016 – March 2018 - Thomas Edison State University
      </span>
    </mat-card-title>
    <span>
      Master of Science in information technology, Software Engineering</span
    >
  </mat-card-content>

  <mat-card-content>
    <mat-card-title
      >Nov 2010 - Sep 2015 - Thomas Edison State University
    </mat-card-title>
    <span class="Content"
      >Bachelor of Science Applied Science, Biomedical Electronics
    </span>
  </mat-card-content>

  <mat-card-content>
    <mat-card-title>
      July 2008 - October 2009 Community college of the Airforce
    </mat-card-title>
    <span class="Content"
      >Department of Defence Tri-service Biomedical electronics training and
      certification
    </span>
  </mat-card-content>

  <mat-card-content>
    <mat-card-title
      >2006 July 31 – October 13 - Naval Medical Training Center
    </mat-card-title>
    <span class="Content"> Hospital Corpsman training school </span>
  </mat-card-content>

  <mat-card-content>
    <mat-card-title>2004 June 3- June 17 </mat-card-title>

    <span class="Content">
      Airman Apprenticeship Training School (Pensacola, Florida)</span
    >
  </mat-card-content>

  <mat-card-content>
    <mat-card-title>2004 April 13-June 3 </mat-card-title>
    <span class="Content"
      >Basic Military Education and Training (Basic Military Training School
      Great Lakes, Illinois)
    </span>
  </mat-card-content>
  <mat-card-content>
    <mat-card-title>1996 </mat-card-title>
    <span class="Content"
      >High School (Cameroon College of Art Science and Technology)
    </span>
  </mat-card-content> </mat-card
><br />

<mat-card>
  <mat-card-title> <span>Certifications</span></mat-card-title
  ><br />
  <mat-card-content>
    <mat-card-title
      >July 2019 - CompTia Security Plus Certification</mat-card-title
    >
    <span class="Content"> CompTia Certified security professional </span>
  </mat-card-content>

  <mat-card-content>
    <mat-card-title
      >July 2018 - March 2016 Woz U - Certified Software Developer
    </mat-card-title>
    <span class="Content"
      >Learned how to build web applications using React and AngularJS. Mobile
      web development with Ionic/Cordova. Acquired skills to program using Java,
      build database-driven web applications using spring MVC, and create richly
      interactive client-side apps using the JavaScript AngularJS library.
      Worked 60 + hours weekly on individual and team projects.
    </span>
  </mat-card-content> </mat-card
><br />
