<mat-toolbar color = "primary">
  
        <mat-toolbar color="secondary">
          <mat-toolbar-row>
            <span class="flex-menu" style="color:blue;"></span>
      
            <span class="flex-menu" style="color:blue;"><mat-card-title>WELCOME TO MY PORTFOLIO</mat-card-title></span>
            <span style="color:blue;"></span>
          </mat-toolbar-row>
        
        <mat-toolbar-row >
            <ul class="nav nav-tabs nav-set">
              <li class="nav-item">
                <a class="nav-link" routerLink="About" routerLinkActive="active">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="CurriculumV" routerLinkActive="active"
                  >Skills</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="Resume" routerLinkActive="active"
                  >Work History</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="Languages" routerLinkActive="active"
                  >Languages</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="Technologies" routerLinkActive="active"
                  >Technologies</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="Education" routerLinkActive="active"
                  >Education</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="Projects" routerLinkActive="active"
                  >Projects</a
                >
              </li>
            </ul>
          </mat-toolbar-row>
        </mat-toolbar>
     
</mat-toolbar>
