<!-- <mat-toolbar color = "primary">
  
        <mat-toolbar color="secondary">
          <mat-toolbar-row>
            <span class="flex-menu" style="color:blue;"></span> 
      
            <h1 class="flex-menu" style="color:blue;"><mat-card-title>WELCOME TO MY PORTFOLIO</mat-card-title></h1>
            <span style="color:blue;"></span> 
          </mat-toolbar-row>
        
        <mat-toolbar-row >
            <ul class="nav nav-tabs nav-set">
              <li class="nav-item">
                <a class="nav-link" routerLink="About" routerLinkActive="active">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="CurriculumV" routerLinkActive="active">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="Resume" routerLinkActive="active"
                  >Work History</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="Languages" routerLinkActive="active"
                  >Languages</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="Technologies" routerLinkActive="active"
                  >Technologies</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="Education" routerLinkActive="active"
                  >Education</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="Projects" routerLinkActive="active"
                  >Projects</a
                >
              </li>
            </ul>
          </mat-toolbar-row>
  
</mat-toolbar> -->

<!--  
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="About" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="CurriculumV" routerLinkActive="active">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Resume" routerLinkActive="active"
                >Work History</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Languages" routerLinkActive="active"
                >Languages</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Technologies" routerLinkActive="active"
                >Technologies</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Education" routerLinkActive="active"
                >Education</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Projects" routerLinkActive="active"
                >Projects</a
              >
            </li>
           
          </ul>
        </div>
      </div>
    </nav> -->
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li> -->
         <li class="nav-item">
              <a class="nav-link" routerLink="About" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="CurriculumV" routerLinkActive="active">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Resume" routerLinkActive="active"
                >Work History</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Languages" routerLinkActive="active"
                >Languages</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Technologies" routerLinkActive="active"
                >Technologies</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Education" routerLinkActive="active"
                >Education</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Projects" routerLinkActive="active"
                >Projects</a
              >
            </li>
        </ul>
      </div>
    </nav>
