<br />
<mat-card>
  <mat-card-title><span style="color:blue;">About Me</span></mat-card-title>
  <div class="image-container">
    <img src="assets/lah.jpg" mat-card-image />
  </div> </mat-card
><br />
<mat-card>
  <mat-card-content>
    <span class="about" >
      A Life long learner with a passion for learning new technologies and applications and
       using them to solve difficult problems. I believe that knowledge is not how much you
        know but how you use it to solve daily tasks. I am at the cross roads of changing 
        careers from Biomedical electronics to software engineering and I am passionate 
        about both areas because they present their unique challenges and they also seem to intersect. 
        <br/> <br/>

        Full Stack Software Developer, with experience in the following technologies; 
        Angular, React, Spring MVC, GitHub, VS Code, GitKraken. Also experienced/familiar 
        with the following languages: Java, Java Script, Type Script, SQL, NoSQL. 
        C++(Physical computing-Arduino) Python( Physical Computing-Raspberry Pi),
         CompTIA Security+ Certified.
         <br/> <br/> 

         Dianostic Imaging instructor at DHA DoD Biomedical electronics Technician 
         Training School. Proficient in troubleshooting, Systems networking, repair
        and installation of a vast array of medical and dental diagnostic x-ray systems,
        and also ; Siemens ultrasound systems interfaced with the Syngo Multi-Modality work place,
        Zoll/Impact ventilators, Covidien 840 Ventilators, Philips Intelivue patient monitoring Systems,
         Hologic Dimensions Mammography systems. Experienced 3M maintenance manager for Shipboard
        Electrical, mechanical, Medical and Dental systems.
    </span>
  </mat-card-content> </mat-card
><br /><br />
