<br />
<mat-card>
  <mat-card-title><span style="color:blue;">About Me</span></mat-card-title>
  <div class="image-container">
    <img src="assets/lah.jpg" mat-card-image />
  </div> </mat-card
><br />
<mat-card>
  <mat-card-content>
    <span class="Content">
      Advance Biomedical Electronic Technician with 9 years of experience.
      Experienced team leader responsible for a group of experienced technicians
      in a Hospital Biomedical equipment repair department. Proficient in
      troubleshooting, Systems networking, repair and installation of a vast
      array of medical and dental diagnostic systems, to include; Siemens
      ultrasound systems interfaced with the Syngo Multi-Modality work place,
      Zoll/Impact ventilators, Covidien 840 Ventilators, Dental panoramic X-ray
      systems, Philips Intelivue patient monitoring Systems, Hologic Dimensions
      Mammography systems. Experienced 3M maintenance manager for Shipboard
      Electrical, mechanical, Medical and Dental systems.<br /><br />

      Full Stack Software Developer, with experience in the following
      technologies; Angular, React, Spring MVC, GitHub, VS Code, GitKraken. Also
      experienced/familiar with the following languages: Java, Java Script, Type
      Script, SQL, NoSQL. C++(Physical computing-Arduino) Python( Physical
      Computing-Raspberry Pi), CompTIA Security+ Certified.
    </span>
  </mat-card-content> </mat-card
><br /><br />
