<br/>
<mat-card style="text-align: center;">
    <mat-card-title><span style="color:blue;">Final School Project</span></mat-card-title>
    <mat-card-content></mat-card-content>
    <br/>
</mat-card>
<br/>
<mat-card style="text-align: center;">
    <mat-card-title><span style="color:blue;">Spring Boot Pet Clinic</span></mat-card-title>
    <mat-card-content></mat-card-content>
    <br/>
</mat-card>
<br/>
<mat-card style="text-align: center;">
    <mat-card-title><span style="color:blue;">Ecommerce Project</span></mat-card-title>
    <mat-card-content></mat-card-content>
    <br/>
</mat-card>