 

     <hr>
 <div class="project-cards">
     <div class="card" >
         <img src="..." class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">Personal Portfolio with Angular then launch on firebase and host an image in Docker</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary">Github Repo</a>
            <a href="#" class="btn btn-primary">Veiw Code on github</a>
         </div>
       </div>
       <div class="card" >
         <img src="assets/icons8-spring-logo-144.png" class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">Redesign Pet Clinic with Spring Boot and Java</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary">Veiw Code on github</a>
         </div>
       </div>
       <div class="card" >
         <img src="assets/icons8-angularjs-144.png" class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">Build a Functional Weather Application with Angular</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-primary">Take a Look</a>
            <a href="#" class="btn btn-primary">Veiw Code on github</a>
         </div>
       </div>
       <div class="card" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Build a Functional Weather Application with Angular</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
           <a href="#" class="btn btn-primary">Veiw Code on github</a>
        </div>
      </div>
 </div>
 <hr>

