<br />
<mat-card>
  <mat-card-title
    ><span style="color: blue;">Technologies</span></mat-card-title
  >
  <div class="tile is-full">
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">Angular</p>
        <figure class="image is-4by3">
          <img src="assets/icons8-angularjs-144.png" />
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">React</p>
        <figure class="image is-4by3">
          <img src="assets/icons8-react-120.png" />
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">Ionic</p>
        <figure class="image is-4by3">
          <img src="assets/icons8-ionic-150.png" />
        </figure>
      </article>
    </div>
  </div> </mat-card
><br />
<mat-card>
  <div class="tile is-full">
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">Ionic React</p>
        <figure class="image is-4by3">
          <img src="assets/icons8-ionic-150.png" />
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">IntelliJ IDEA</p>
        <figure class="image is-4by3">
          <img src="assets/icons8-intellij-idea-144.png" />
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">Word Press</p>
        <figure class="image is-4by3">
          <img src="assets/wordpress.png" />
        </figure>
      </article>
    </div>
  </div> </mat-card
><br />
<mat-card>
  <div class="tile is-full">
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">Git Hub</p>
        <p class="subtitle"></p>
        <figure class="image is-4by3">
          <img src="assets/icons8-github-100.png" />
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">Spring MVC</p>
        <figure class="image is-4by3">
          <img src="assets/icons8-spring-logo-144.png" />
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">Visual Studio Code</p>
        <figure class="image is-4by3">
          <img src="assets/icons8-visual-studio-code-2019-144.png" />
        </figure>
      </article>
    </div>
  </div> </mat-card
><br />
