<br />
<mat-card>

  <div class="tile is-full">
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">JAVA</p>
        <p class="subtitle"></p>
        <figure class="image is-4by3">
          <img src="assets/icons8-java-96.png" alt=""/>
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">JAVA SCRIPT</p>
        <p class="subtitle"></p>
        <figure class="image is-4by3">
          <img src="assets/icons8-javascript-96.png" alt=""/>
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">HTML</p>
        <p class="subtitle"></p>
        <figure class="image is-4by3">
          <img src="assets/icons8-html-5-48.png" alt=""/>
        </figure>
      </article>
    </div>
  </div> </mat-card
><br />
<mat-card>
  <div class="tile is-full">
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">CSS</p>
        <p class="subtitle"></p>
        <figure class="image is-4by3">
          <img src="assets/icons8-css3-48.png" alt=""/>
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">SQL</p>
        <p class="subtitle"></p>
        <figure class="image is-4by3">
          <img src="assets/icons8-mysql-logo-100.png" alt=""/>
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">NoSQL</p>
        <p class="subtitle"></p>
        <figure class="image is-4by3">
          <img src="https://img.icons8.com/cute-clipart/64/000000/server.png" alt=""/>
        </figure>
      </article>
    </div>
  </div> </mat-card
><br />
<mat-card>
  <div class="tile is-full">
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">PHP</p>
        <p class="subtitle"></p>
        <figure class="image is-4by3">
          <img src="assets/icons8-php-logo-64.png" alt=""/>
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">PYTHON</p>
        <p class="subtitle"></p>
        <figure class="image is-4by3">
          <img src="assets/icons8-python-48.png" alt=""/>
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">C#</p>
        <p class="subtitle"></p>
        <figure class="image is-4by3">
          <img src="assets/icons8-c-sharp-logo-48.png" alt=""/>
        </figure>
      </article>
    </div>
  </div> </mat-card
><br />
