<br />
<mat-card class="content">
  
  <div class="image-container"></div>
  <mat-card-content>
    <mat-card-title>June 2016 - Present</mat-card-title>
    <span>
      ● Advance Biomedical Electronic Technician. Performs repairs,
      installations, modification and calibration of a wide variety of medical
      equipment with advanced training in several, including Covidien 840
      Ventilators, Immucor Gama's Galileo( Model before the NEO), Haemonatics'
      ACP 215. Acquired experience in a wide variety of Steam Sterilization and
      Washer/Disinfection systems (Getinge Model 433HC, Steris 333
      washer/disinfector, Steris/AMSCO sterilizers. Also experienced in a
      variety of dental systems including ADEC 1040 series chair with delivery
      systems, Dental Panoramic systems and Dental Vacuum systems. A working
      knowledge and experience in telemetry with experience in Philips Intelivue
      Central monitoring systems.
    </span>
  </mat-card-content>
  <mat-card-content>
    <mat-card-title>
      May 2013 - May 2016
    </mat-card-title>
    <span>
      ● USS Kearsarge (LHD3), Work Center Supervisor. I was independently
      responsible for performing highly diversified duties to install,
      troubleshoot, repair and maintain client equipment according to safety,
      predictive and productive maintenance standards. Being proficient in
      mechanical, electrical, pneumatic and hydraulic troubleshooting; as well
      as Windows based information platforms, I provided expedient customer
      service by applying diagnostics and fault isolation techniques, parts
      ordering, installation and calibration of a variety of medical equipment,
      while under critical deadlines and during deployments at sea. While
      serving as only Biomedical electronic technician on LHD3 and Maintenance
      Material Management (3M) Work Center Supervisor, I installed 20 surgical
      lights, 19 surgical sinks, 4 surgical beds, 15 patient beds, rebuilt two
      medical steam sterilizers, maintained medical and dental x-ray systems,
      MEDWEB PACs system as administrator, led an eleven man 3M team and oversaw
      installation of dental panoramic x-ray system. I also maintained dental
      equipment rooms with vacuum and air compressors, dental chairs, Doctor and
      Dental Assistant workstation packages, dental track lights and cabinets,
      autoclaves, and sterilization centers.
    </span>
  </mat-card-content>
  <mat-card-content>
    <mat-card-title>November 2009-April 2013</mat-card-title>
    <span>
      I proficiently managed life cycle maintenance and repair of 2,500 pieces
      of medical/dental equipment valued at more than $25.7 Million dollars
      while Stationed at US Naval Hospital Okinawa. Led teams of technicians to
      reorganize, inventory, and dispose of outdated repair parts and test
      equipment to increase productivity and workflow. Also provided training to
      Biomedical Repair and Electronics technicians from four countries in South
      East Asia on basic electronics principles, troubleshooting techniques, and
      patient/equipment safety standards during the 2012 US Navy pacific
      partnership venture. A Valuable asset during the US Naval hospital Okinawa
      move from the old post World War II building to the state-of-the art
      facility now located at US Marine Corps Base- Camp Foster. As a member of
      the equipment move committee I coordinated with contractors and fellow
      biomedical Electronic technicians to ensure the successful move of over
      five thousand pieces of Medical and Dental equipment to the New facility
    </span>
  </mat-card-content>
  <mat-card-content>
    <mat-card-title>November 2006 - July 2008</mat-card-title>
    <span>
      Served at the US Naval hospital Guantanamo bay as an Emergency medical
      technician. I provided quality care to 520 patients in the Emergency
      department to include 120 independent Ambulance runs serving as Primary
      EMT with minimal supervision. As a junior corpsman, set the standard for
      clinic cleanliness and operational conditions by conducting weekly
      in-depth field days and minor spot repairs. Also revised the standard
      operating procedure which improved the efficiency and quality of care
      delivered at remote satellite clinic. Finally, I overhauled Ambulance
      organization by initiating corrective action to deficiencies that slowed
      down response time; cutting on scene response time by half.
    </span>
  </mat-card-content>
  <mat-card-content>
    <mat-card-title>June 2004 - July 2006</mat-card-title>
    <span>
      ● Non rated Airman serving in shipboard aviation maintenance which
      involves, Helicopter tie-down gear, Towing gear, aviation fuels and
      landing platforms
    </span>
  </mat-card-content> </mat-card
><br /><br />
