/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css";
@import "bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  max-width: 80%;
  position: relative;
  left: 10%;
}
.mat-tool-bar{
  display: flex;
  height: 200;
}
mat-card-footer {
  max-width: auto;
  position: relative;

  background-color: hsl(0, 31%, 94%);
}
mat-card-image {
  max-width: 80%;
}
mat-card-content {
  font-size: 1em;
  font-weight: 2em;
  line-height: 2em;
}
.image-container {
  max-width: 50%;
  height: auto;
  padding-top: 5px;
  position: relative;
  left: 25%;
}

a:hover {
  background-color: rgb(149, 245, 181);
}

mat-card div {
  margin-right: 8px;
}


nav {
  display: flex;
  align-items: center;
  align-content: space-around;
  font-weight: bold;
  font-size:large;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: block;
  
}
.card-image{
  max-width: 300;
  max-height: 300;
}



