/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css";
@import "bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  max-width: 80%;
  position: relative;
  left: 10%;
}
.mat-tool-bar{
  display: flex;
  height: 200;
}
mat-card-footer {
  max-width: auto;
  position: relative;

  background-color: hsl(0, 31%, 94%);
}
mat-card-image {
  max-width: 80%;
}
mat-card-content {
  font-size: 1em;
  font-weight: 2em;
  line-height: 2em;
}
.image-container {
  max-width: 50%;
  height: auto;
  padding-top: 5px;
  position: relative;
  left: 25%;
}

a:hover {
  background-color: rgb(149, 245, 181);
}

.flex-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*align-content: space-between;*/
  padding-inline: 30px;
  height: 100px;
  position: relative;
  left: 40%;
}
.flex-footer div {
  max-width: 200px;
  margin-right: 25px;
  position: absolute;
  bottom: 0px;
}
.flex-footer i {
  color: white;
}
.flex-menu {
  flex: 1 1 auto;
  overflow: hidden;
}

mat-card div {
  margin-right: 8px;
}


nav {
  height: 200;
  align-self: auto;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size:x-large;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 

}
#footer-link {
  color: black;
  background-color: #e3f2fd;
}

.nav-set{
  flex: auto;
  flex-flow: row;
  justify-content: space-around;
 
}