<br />
<mat-card>
  <mat-card-title
    ><span style="color:blue;">Curriculum Vitae</span></mat-card-title
  >
  <div class="image-container"></div>
  <mat-card-content>
    <mat-card-title>Intro</mat-card-title>
    <mat-card-content>
      <span>
        A creative, engaging, full stack developer with a passion for front-end
        development and UI Design. Specializes in customer satisfaction through
        teamwork and maintains a commitment to exceed expectations. Actively
        pursuing opportunities to provide programming skills, leadership
        ability, and enthusiasm to a fast-paced environment as a full stack
        developer.
      </span>
    </mat-card-content>
    <mat-card-title>Skills</mat-card-title>
    <mat-card-content>
      <span>
        <ul>
          <li>Front End frameworks – AngularJS, React.js, Node.js</li>
          <li>Database Design and Development</li>
          <li>Data warehouse design and development(fundamentals)</li>
          <li>
            Back-end Foundation - Spring MVC, HTTP and Servlets, Data
            Persistence, Rest and Web APIs
          </li>
          <li>Front-end integretion</li>
          <li>Mobile Web Development - Ionic/Cordova, Ionic-react</li>
          <li>Resposive Web design and development</li>
          <li>Agile Project Management</li>
          <li>Deployment - Travis CI, Nginx</li>
          <li>Linux Command line / linux development</li>
          <li>Wordpress platform developemt</li>
        </ul>
      </span>
    </mat-card-content>
    <mat-card-title>Leadership</mat-card-title>
    <mat-card-content>
      <span>
        Currently leads a team of 15 Biomedical electronic technicians as the
        maintenance control officer – responsible for tasking, scheduling, and
        monitoring medical equipment maintenance at Naval Medical center
        Portsmouth, the largest Naval Hospital in the United States, has held
        the position since June 2019.
      </span>
    </mat-card-content>

    <span class="Content"> </span>
  </mat-card-content> </mat-card
><br /><br />
